<div id="app">
  <div v-bind:class="'alert alert-' + game_state_class">
    {{ game_state_message }}
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= render "_gallows.html" %>
      <br/><br/>
      <p style="text-align: center">
        You have<br/>
        <span class="time-remaining">{{ tally.time_remaining }}</span><br/>
        seconds
      </p>
    </div>
    <div class="col-md-7 col-md-offset-1">
      <%= render "_status.html" %>
    </div>
  </div>
</div>
